<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Books-Publisher Project</title>
        <link rel="stylesheet" href="style.css" />
        <script
            defer
            src="./js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </head>
    <body>
        <div id="main">
            <add-book-modal v-if="showAddBookModal"></add-book-modal>
            <show-book-modal v-if="showDetailsBookModal" v-bind:book="selectedBook"></show-book-modal>
            <button class="btnOn" v-on:click="handleAddModal">Add Books</button>
            <form v-on:submit="handleSubmit" class="form">
                <h2>Books-Publisher App</h2>
                <span>SEARCH:</span><input type="text" name="search" v-model="search"><br>
                <button class="btnSearch">Search</button>
            </form>
            <div class="gallery">
                <div v-if="books.length > 0">
                     <div v-for="book in books" v-on:click="openModal(book)">
                        <img v-bind:src="book.url" v-bind:alt="book.title"  >
                        <br>
                     </div>
                </div>
            
            </div>
        </div>


    </body>
</html>
